@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/styles';


.header {
  height: 80px;
  border-bottom: 1px solid $linecolor;

  .logo-container {
    @include size(216px,100%);
    border-right: 1px solid $linecolor;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
