@font-face {
  font-family: 'CalibreTest-Light';
  src: url('~/fonts/calibretest-light.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CalibreTest-Regular';
  src: url('~/fonts/calibretest-regular.woff') format('woff'); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreTest-Medium';
  src: url('~/fonts/calibretest-medium.woff') format('woff'); /* Modern Browsers */
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreTest-Semibold';
  src: url('~/fonts/calibretest-semibold.woff') format('woff'); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DomaineTextTest-BlackItalic';
  src: url('~/fonts/domainetexttest-blackitalic.woff') format('woff'); /* Modern Browsers */
  font-weight: bold;
  font-style: italic;
}


@import './mixins.scss';
@import './variables.scss';


* {
  @include cushion(0,0);
  box-sizing: border-box;
  // @include border(1px, #f0f); //Troubleshooting
}

body {
  font: {
    family: $basefont;
    size: 16px;
    color: $textcolor;
  }
  background-color: $bgcolor;
}

h1, h2, h3 {
  color: $textcolor;
  font-weight: normal;
}

a {
  color: $textcolor;
  text-decoration: none;
}

a:hover, a:active {
  color: $zagatred;
  text-decoration: none;
}

.zagat-logo-paths {
  fill: $zagatred;
}

.chevron-down-svg {
  fill: $textdetail;
}
