@import './mixins.scss';
@import './variables.scss';

* {
  @include cushion(0,0);
  box-sizing: border-box;
  // @include border(1px, #f0f); //Troubleshooting
}

a {
  color: $textcolor;
}

a:hover, a:active {
  color: $zagatred;
}

.zagat-logo-paths {
  fill: $zagatred;
}
