@import './mixins.scss';
@import './variables.scss';

// @font-face {
// font-family: 'CalibreTest';
// src: url('~/assets/font/calibretest-regular.woff') format('woff'); /* Modern Browsers */
// src: url('~/assets/font/calibretest-medium.woff') format('woff'); /* Modern Browsers */
// src: url('~/assets/font/calibretest-semibold.woff') format('woff'); /* Modern Browsers */
// }
// @font-face {
// font-family: 'DomaineTextTest';
// src: url('~/assets/font/domainetexttest-blackitalic.woff') format('woff'); /* Modern Browsers */
// }

* {
  @include cushion(0,0);
  box-sizing: border-box;
  // @include border(1px, #f0f); //Troubleshooting
}

body {
  font: {
    family: $basefont;
    size: 14px;
    color: $textcolor;
  }
}

a {
  color: $textcolor;
  text-decoration: none;
}

a:hover, a:active {
  color: $zagatred;
  text-decoration: none;
}

.zagat-logo-paths {
  fill: $zagatred;
}
