// variables
$bgcolor: #f1f1f2;
$basefont: 'CalibreTest-Regular', 'Helvetica', 'Arial', sans-serif;
$stylefont: 'DomaineTextTest-BlackItalic', 'Times Bold Italic', serif;
$textcolor: #101820;
$textsecondary: #9b9b9b;
$textdetail: #656666;
$zagatred: #b60838;
$linecolor: #cfd2d3;
