<div class="social-container">
  <div class="media">
    <a class="instagram" href="https://instagram.com/zagat"></a>
    <a class="twitter" href="https://twitter.com/zagat"></a>
    <a class="periscope" href="https://periscope.tx/zagat"></a>
    <a class="facebook" href="https://facebook.com/zagat"></a>
    <a class="snapchat" href="https://snapchat.com/add/zagat"></a>
    <a class="pinterest" href="https://pinterest.com/zagat"></a>
    <a class="tumblr" href="https://zagat.tumblr.com/"></a>
    <a class="youtube" href="https://youtube.com/zagat"></a>
    <a class="googleplus" href="https://plus.google.com/+ZAGAT"></a>

  </div>
  <div class="newsletter-signup">
    <label for="newsletterSignup">Get Zagat's newsletter in your inbox...</label>
    <div class="input-row">
      <input id="newsletterSignup" type="text" name="" value="" placeholder="Enter your email"><button type="submit"></button>
    </div>

  </div>
</div>
