<div class="latest-header">
  <div class="rule"></div>
  <h2>The Latest</h2>
  <h3>In Portland</h3>
</div>
<div class="latest-outer-container">
  <!-- COLUMN 1 -->
  <div class="latest-col1-container">
    <div class="card1 spotlight">
      <div class="image" style="background-image:url({{(cityToDisplay | async)?.latestCard1Img}})"></div>
      <div class="textblock">
        <div>
          <img src="../../assets/img/best-trophy.jpg" alt="">
        </div>
        <h2>{{(cityToDisplay | async)?.latestCard1Title}}</h2>
        <div class="date">{{(cityToDisplay | async)?.latestCard1Date}}</div>
      </div>
    </div>
  </div>

  <!-- COLUMN 2 -->
  <div class="latest-col2-container">
    <div class="card2 spotlight">
      <div class="image" style="background-image:url({{(cityToDisplay | async)?.latestCard2Img}})"></div>
      <div class="textblock">
        <div>
          <img src="../../assets/img/best-trophy.jpg" alt="">
        </div>

        <h2>{{(cityToDisplay | async)?.latestCard2Title}}</h2>
        <div class="place-count">{{(cityToDisplay | async)?.latestCard2PlaceCount}} Places</div>

      </div>
    </div>
    <div class="card3 spotlight">
      <div class="image" style="background-image:url({{(cityToDisplay | async)?.latestCard3Img}})"></div>
      <div class="textblock">
        <div>
          <img src="../../assets/img/best-trophy.jpg" alt="">
        </div>

        <h2>{{(cityToDisplay | async)?.latestCard3Title}}</h2>
        <div class="place-count">{{(cityToDisplay | async)?.latestCard3PlaceCount}} Places</div>

      </div>
    </div>
  </div>
  <!-- COLUMN 3 -->
  <div class="latest-col3-container">
    <div class="card4">
      <div class="image" style="background-image:url({{(cityToDisplay | async)?.latestCard4Img}})"></div>
      <div class="textblock">

        <h2>{{(cityToDisplay | async)?.latestCard4Title}}</h2>

      </div>
    </div>
    <div class="card5">
      <div class="image" style="background-image:url({{(cityToDisplay | async)?.latestCard5Img}})"></div>
      <div class="textblock">

        <h2>{{(cityToDisplay | async)?.latestCard5Title}}</h2>

      </div>
    </div>

    <div class="card6">
      <div class="image" style="background-image:url({{(cityToDisplay | async)?.latestCard6Img}})"></div>
      <div class="textblock">

        <h2>{{(cityToDisplay | async)?.latestCard6Title}}</h2>

      </div>
    </div>
    <div class="card7">
      <div class="image" style="background-image:url({{(cityToDisplay | async)?.latestCard67Img}})"></div>
      <div class="textblock">
        <h2>{{(cityToDisplay | async)?.latestCard7Title}}</h2>

      </div>
    </div>
  </div>
</div>

<div class="latest-footer">
  <button type="button" name="button">More</button>
</div>
