<div class="latest-header">
  <div class="rule"></div>
  <h2>The Latest</h2>
  <h3>In Portland</h3>
</div>
<div class="latest-outer-container">
  <div class="latest-col1-container">
    <div class="card1 spotlight">
      <div class="image">

      </div>
      <div class="textblock">

        <div>
          <img src="../../assets/img/best-trophy.jpg" alt="">

        </div>

        <h2>Best Restaurants in Portland</h2>
        <p>July 13, 2018</p>

      </div>

    </div>

  </div>
  <div class="latest-col2-container">
    <div class="card2 spotlight">

    </div>
    <div class="card3 spotlight">

    </div>

  </div>
  <div class="latest-col3-container">
    <div class="card4 spotlight">

    </div>
    <div class="card5 spotlight">

    </div>

    <div class="card6 spotlight">

    </div>
    <div class="card7 spotlight">

    </div>

  </div>

</div>
<div class="latest-footer">
  More

</div>
