<div class="latest-header">
  <div class="rule"></div>
  <h2>The Latest</h2>
  <h3>In Portland</h3>
</div>
<div class="latest-outer-container">
  <!-- COLUMN 1 -->
  <div class="latest-col1-container">
    <div class="card1 spotlight">
      <div class="image"></div>
      <div class="textblock">
        <div>
          <img src="../../assets/img/best-trophy.jpg" alt="">
        </div>
        <h2>Best Restaurants in Portland</h2>
        <div class="date">July 13, 2018</div>
      </div>
    </div>
  </div>

  <!-- COLUMN 2 -->
  <div class="latest-col2-container">
    <div class="card2 spotlight">
      <div class="image"></div>
      <div class="textblock">
        <div>
          <img src="../../assets/img/best-trophy.jpg" alt="">
        </div>

        <h2>New Restaurants and Bars in Portland, OR</h2>
        <div class="place-count">6 Places</div>

      </div>
    </div>
    <div class="card3 spotlight">
      <div class="image"></div>
      <div class="textblock">
        <div>
          <img src="../../assets/img/best-trophy.jpg" alt="">
        </div>

        <h2>Hottest Restaurants and Bars in Portland, OR</h2>
        <div class="place-count">6 Places</div>

      </div>
    </div>
  </div>
  <!-- COLUMN 3 -->
  <div class="latest-col3-container">
    <div class="card4">
      <div class="image"></div>
      <div class="textblock">

        <h2>Restaurants & Bars Near the Portland Museum of Art</h2>

      </div>
    </div>
    <div class="card5">
      <div class="image"></div>
      <div class="textblock">

        <h2>Best Restaurants and Bars Near Portland's Forest Park</h2>

      </div>
    </div>

    <div class="card6">
      <div class="image"></div>
      <div class="textblock">

        <h2>6 Best Things We Ate and Drank at Feast PDX 2017</h2>

      </div>
    </div>
    <div class="card7">
      <div class="image"></div>
      <div class="textblock">

        <h2>The 10 Best Things We Ate at Feast Portland 2016</h2>

      </div>
    </div>
  </div>
</div>

<div class="latest-footer">
  <button type="button" name="button">More</button>
</div>
