@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/styles';

.about-container {
  // @include border(1px, #0f0);
  @include cushion(58px 0 0 40px, 0);
  width: 216px;
  float: left;
}

h2 {
  font: {
    family: $boldfont;
    size: 1rem;
  }
  margin-bottom: 1.35rem;
  color: $textcolor;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

p {
  font: {
    family: $lightfont;
    size: .95rem;
  }
  margin-bottom: 1.35rem;
  color: $textcolor;
}

a {
  color: $textcolor;
}

a:hover, a:active {
  color: $zagatred;
}
