@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/styles';

.cities-container {
  @include border(1px, #ff0);
  @include cushion(58px 0 0 68px, 0);
  // padding-top: 58px;
  // padding-left: 40px;
  float: left;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-auto-flow: column;
}

h2 {
  font: {
    family: $boldfont;
    size: 1rem;
  }
  margin-bottom: 1.35rem;
  color: $textcolor;
  text-transform: uppercase;
  letter-spacing: .15rem;
  grid-column: 1 / span 4;
}

p {
  font: {
    family: $lightfont;
    size: .95rem;
  }
  margin-bottom: 1.35rem;
  color: $textcolor;
}

a {
  color: $textcolor;
}

a:hover, a:active {
  color: $zagatred;
}
