@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/styles';

.cities-container {
  @include border(1px, #ff0);
  // @include cushion(0, 58px 40px 0 20%);
  padding-top: 58px;
  padding-left: 40px;
  margin-left: 25%;
  float: right;
  clear: both;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 10px;
  grid-auto-flow: column;
  position: relative;
}

h2 {
  font: {
    family: $boldfont;
    size: 1rem;
  }
  margin-bottom: 1.35rem;
  color: $textcolor;
  text-transform: uppercase;
  letter-spacing: .15rem;
  grid-column: 1 / span 4;
}

p {
  font: {
    family: $lightfont;
    size: .95rem;
  }
  margin-bottom: 1.35rem;
  color: $textcolor;
}

a {
  color: $textcolor;
}

a:hover, a:active {
  color: $zagatred;
}
