@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/styles';

.focus-container {
  @include size(100%, 400px);
  @include cushion(0, 0 auto);
  max-width: 1200px;
  max-height: 400px;
  // @include border(1px, #fff);
  background-image: url(../../assets/img/portland.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  background-color: blue; // this lets me know if the photo is not covering the area as it should
}

.focus-content {
  @include border(2px, #fff);
  @include cushion(40px, 40px);
  height: 320px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  h1 {
    font: {
      family: 'DomaineTextTest-BlackItalic', 'Times New Roman', serif;
      size: 40px;
      weight: bold;
      style: italic;
    }
    color: #fff;
  }
  .focus-button-row {
    width: 445px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-transform: uppercase;
    color: #fff;

    a {
      color: #fff;
    }

    a:hover, a:active {
      color: $zagatred;
      text-decoration: none;
    }
  }
}
