/* You can add global styles to this file, and also import other style files */
// variables
$bgcolor: #f1f1f2;
$basefont: 'CalibreTest-Regular', 'Helvetica', 'Arial', sans-serif;
$stylefont: 'DomaineTextTest-BlackItalic', 'Times Bold Italic', serif;
$textcolor: #101820;
$textsecondary: #9b9b9b;
$textdetail: #656666;
$zagatred: #b60838;
$linecolor: #cfd2d3;

// mixins
@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin cushion($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin min-max-width($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
}

// media queries
@mixin min-456 {
  @media screen and (min-width: 456px) {
    @content;
  }
}

@mixin min-600 {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin min-768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin min-960 {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin min-1255 {
  @media screen and (min-width: 1255px) {
    @content;
  }
}

@mixin min-1600 {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
// styles
